
/* load more posts demo styles */
.dcsDemoWrapper {
    display: flex;
    flex-wrap: wrap;
}
.dcsDemoWrapper .loadMoreRepeat {
    /* width: 50%; */
    width:calc(100% /3);
    padding: 10px;
}
.dcsDemoWrapper .loadMoreRepeat .innerWrap {
    background: #fff;
    padding: 15px;
}
.btnLoadmoreWrapper {
    text-align: center;
    margin-top: 10px;
    width: 100%;
}
p.noMorePostsFound {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    color: red;
    font-size: 18px;
}
svg {
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
}
.dcsLoaderImg {width: 100%;text-align: center;}
